
.pixelify-sans-pixel {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.overall {
    padding: 11%;
    font-family:"Pixelify Sans", sans-serif;
}
img {
    display: block;
    margin: auto;
}
.search {
    width: 86%;
    background-color: rgb(191,191,198);
    margin: auto;
    text-align: center;
}
.searchbar {
    width: 32%;
    border: 10px;
    height: 20px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}
button {
    margin-bottom: 15px;
    font-family:"Pixelify Sans", sans-serif;
    vertical-align: top;
    font-size: 13px;
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border: none;
    height: 25px;
    padding: 0 25px;
}
table {
    width: 86.25%;
    margin: auto;;
}
.end {
    text-align: center;
}

td {
    text-align: center;
    border-width: 5px;
}
#cell1 {
    width: 40%;
    background-color: rgba(111,198,188,255);
}
#cell2 {
    width:20%;
    background-color: rgba(111,198,188,255);
}
#cell3 {
    width: 40%;
    background-color: rgba(111,198,188,255);
}
input {
    font-family:"Pixelify Sans", sans-serif;
}
p {
    margin-bottom: 0;
    padding: 7px;
}